*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  transform: translateY(15%);
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 300px;
  left: calc(50%-20px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  0% {
    transform: perspective(1000px) rotateX(-5deg) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(-5deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0,0,0,0;
  transform: rotateY(calc((var(--position) - 1)*(360/var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .content{
    position: absolute;
    color: #cacaca;
    right: 5%;
    top: 20%;
}

.banner .content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.banner .content h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.banner .content .model img{
    position: absolute;
    width: 200%;
    top: 10%;
    left: -260%;
    z-index: -1;
    filter: contrast(5);
}

span{
    color: red;
    font-size: 30px;
}

#gallery{
    background-color: rgb(0, 117, 117);
    margin: 0;
    padding: 0;
}

.txt{
    text-align: center;
    height: 100vh;
}

.txt h1{
    font-size: 3rem;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
}

.txt p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

#main{
    height: 115vh;
}

.allcards{
    width: 30%;
    display: flex;
}

.allcards img{
    width: 100%;
    height: 100%;
}

.allcards .card{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.allcards .card h5{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(230, 201, 40);
    color: #0c002c;
    font-weight: 700;
    margin-top: 20px;
}